body {
    font-family: "Rubik", sans-serif;
    color: white;
    display: grid;
    background: #0f1424;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 4vh;
    width: 100%;
    padding: 25vh 11vw;
    box-sizing: border-box;
}

#userCard {
    background: #1c1f4a;
    border-radius: 15px;
    grid-column: 1/1;
    grid-row: 1/span 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#profile {
    display: inline-flex;
    flex-direction: column;
    background: #5847eb;
    border-radius: 15px;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    padding: 10%;
}

#profile img {
    width: 40%;
    border: 4px solid white;
    border-radius: 50%;
    box-sizing: border-box;
    margin-bottom: 20%;
}

#profile p{
    margin: 0;
}

#name {
    font-size: 3em;
    color: white;
    font-weight: 300;
}

#buttons{
    padding: 8% 10%;
}

#buttons p {
    text-decoration: none;
    color: #6f76c8;
    font-size: 0.9em;
    padding: 3% 0;
    margin: 0;
}

#buttons p:hover {
    cursor: pointer;
    color: white;
}

#buttons p.active {
    color: white;
}

.activities {
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.activities > img {
    position: absolute;
    right: 6%;
    top: -3%;
    width: 30%;
}

.content {
    background: #1c1f4a;
    height: 83%;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    display: inline;
    box-sizing: border-box;
    padding: 10%;
    width: 100%;
}

.content:hover {
    background-color: #303782;
    cursor: pointer;
}

.head {
    font-weight: 500;
}

.head a {
    text-decoration: none;
    font-size: 25px;
    line-height: 0;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 25px;
}

.head a:hover{
    color: white;
}

.time {
    margin-top: 10%;
    font-size: 2.7em;
    font-weight: 300;
}

.previous {
    font-size: 0.8em;
    margin-top: 2%;
    color: rgba(255, 255, 255, 0.6);
}

.daily {
    display: none;
}

.weekly {
    display: none;
}

.monthly {
    display: none;
}

.activeState {
    display: block;
}

#careCard > img {
    top: -7%;
}

#workCard {
    background: #ff8c66;
}

#playCard {
    background: #56c2e6;
}

#studyCard {
    background: #ff5c7c;
}

#exerciseCard {
    background: #4acf81;
}

#socialCard {
    background: #7536d3;
}

#careCard {
    background: #f1c65b;
}

/*On mobile*/
@media screen and (max-device-width: 490px) {
    body {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 10vh 6vw;
    }

    #userCard {
        height: 200px;
        width: 100%;
    }

    #profile {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 68%;
        padding: 6%;
    }

    #profile img {
        margin: 0;
        width: 28%;
    }

    #profile>p{
        padding-top: 4%;
        padding-left: 4%;
        margin: 0;
    }

    #name {
        padding-top: 2%;
        padding-left: 4%;
        font-size: 2.2em;
    }

    #buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0;
    }

    #buttons p {
        margin: 0;
        padding: 6% 0 0 12%;
        font-size: 1.3em;
    }

    .activities {
        height: 200px;
        width: 100%;
        margin: 0;
    }

    .activities > img {
        width: 20%;
    }

    .content {
        height: 75%;
        padding: 8%;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-self: center;
    }

    .head {
        font-size: 20px;
        padding-bottom: 5%;
        width: 100%;
    }

    .time{
        margin:0;
        width: 55%;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
    }

    .previous{
        width: 45%;
        margin: 0;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
    }

}
