
body{
    font-family: 'Rubik', sans-serif;
    color: white;
    display: grid;
    background: hsl(226, 43%, 10%);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 165px;
    padding: 0;
}

#userCard{
    background: hsl(235, 46%, 20%);
    border-radius: 15px;
    grid-column: 1/1;
    grid-row: 1/ span 2;
    height: 520px;
    width: 255px;
    display: flex;
    flex-direction: column;
}

#userCard > div{
    display: inline-flex;
    flex-direction: column;
    background: hsl(246, 80%, 60%);
    border-radius: 15px;
    height: 68%;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    padding: 30px;
}

#userCard img{
    width: 80px;
    border: 4px solid white;
    border-radius: 50%;
    box-sizing: border-box;
    margin-bottom: 50px;
}

#name{
    font-size: 3em;
    color: white;
    font-weight: 300;

}

#userCard p{
    text-decoration: none;
    color: hsl(235, 45%, 61%);
    font-size: 0.9em;
    line-height: 0;
    margin-left: 30px;
    margin-top: 35px;
}

#userCard p:hover{
    cursor: pointer;
}

#userCard p.active{
    color: white;
}

.activities{
    width: 255px;
    height: 245px;
    background: black;
    border-radius: 15px;
    margin-left: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}


.activities > img{
    position: absolute;
    right: 6%;
    top: -3%;
    width: 30%;
}

.content{
    background: hsl(235, 46%, 20%);
    height: 83%;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    display: inline;
    box-sizing: border-box;
    padding: 25px;
    width: 100%;
}

.head{
    font-weight: 500;
}

.head a {
    text-decoration: none;
    font-size: 25px;
    line-height: 0;
    color: white;
    position: absolute;
    right: 25px;

}


.time{
    margin-top: 40px;
    font-size: 2.7em;
    font-weight: 300;
}

.previous{
    font-size: 0.8em;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.6)
}

.daily{
    display: none;
}

.weekly{
    display: none;
}

.monthly{
    display: none;
}

.activeState{
    display: block;
}

#careCard > img{
    top: -7%;
}


#workCard{
    background: hsl(15, 100%, 70%);
}

#playCard{
    background: hsl(195, 74%, 62%);
}

#studyCard{
    background: hsl(348, 100%, 68%);
}

#exerciseCard{
    background: hsl(145, 58%, 55%);
}

#socialCard{
    background: hsl(264, 64%, 52%);
}

#careCard{
    background: hsl(43, 84%, 65%);
}

